div { border: none; }

#header {
  margin-left: 10px;
  color: #000;
  border-bottom: 1px solid #333;
  height: 75px;
}
	
#header .auth {
  float: right;
  text-align: right;
}
	
#leftcol {
  float: left;
  width: 150px;
  margin-left: 10px;
  margin-top: 0px;
  color: #000;
  padding: 3px;
}

#rightcol {
  position: absolute;
  left: 80%;
  top: 85px;
  width: 100px;
  padding-left: 10px;
  z-index: 3;
  color: #000;
  padding: 3px;
}

#leftcol p, #leftcol li, #rightcol p {
  font-size: 11px;
}

#content {
  font-size: 10px;
  margin: 0px 25% 0 165px;
  padding: 3px;
  color: #000;
}

#content .objlist-table { font-size:10px; }
#content .header { background:#ddb; }
#content .highlight { background:#bdd; }
#content .even { background:#eeb; }
#content .odd { background:#eee; }
#content .even2 { background:#bee; }
#content .odd2 { background:#ddd; }
#content .blank { background:#fff; }

#footer {
  clear: both;
  width: 95%;
  margin: 10px;
  text-align: center;
  font-family: Verdana;
  font-size: 11px;
  padding: 3px;
  border-top: 1px solid #333;
  color: #000;
}

#footer .date {
  float: left;
  text-align: left;
}

#footer .contact {
  float: right;
  text-align: right;
}

body {
  width: 97%;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

p, a {
  font-family: Verdana;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia;
  margin-top: 0px;
}
