{% extends "base.html" %}
{% load wowzertags %}
{% block pagetitle %}Forums{% endblock %}
{% block title %}Forums{% endblock %}
{% block subtitle %}Much discussion madness{% endblock %}
{% block appsidebar %}
  <h3>Forum Menu</h3>
  <div>
    <ul>
      <li><a href="/asforums/">Top - Forums by Forum Collection</a></li>
      <li><a href="/asforums/forum_collections/">Forum Collection Index</a></li>
      <li>Forum Index</li>
      <li>Discussions
        <ul>
          <li><a href="/asforums/discs/">All Discussions</a>&nbsp;<a href="/asforums/discs/feed/latest/">{% icon "feed" "Discusions with recent posts" %}</a></li>
          <li>Subscribed Discussions&nbsp;{% icon "feed" "Subscribed discussions with recent posts" %}</li>
        </ul>
      </li>
      <li>Posts
        <ul>
          <li><a href="/asforums/posts/">Most Recent Posts</a>&nbsp;<a href="/asforums/posts/feed/discussion/">{% icon "feed" "Most recent posts by discussion" %}</a>
            <li>Most Recent Posts in Subscribed Discussions&nbsp;{% icon "feed" "Most recent posts in subscribed discussions" %}
        </ul>
        <li>Subscriptions</li>
        <li>Statistics</li>
    </ul>
  </div>
  <h3>Forums Wide Tag Cloud</h3>
  <div class="tagcloud">
  <p>
    Not implemented
  </p>
  </div>
  {% block modelcloud %}
  {% endblock %}
{% endblock %}
{% block hierarchy %}{{ block.super }}&nbsp&raquo;&nbsp;<a href="/asforums/">Forums</a>{% endblock %}
