{% extends "asforums/listing.html" %}
{% block hierarchy %}&nbsp&raquo;&nbsp;<a href="/">Top</a>&nbsp&raquo;&nbsp;<a href="/asforums/">Forums Top</a>&nbsp&raquo;&nbsp;<a href="{{ request.get_full_path }}">Discussion List</a>{% endblock %}
{% block listing %}
<p>
{% if object_list %}
<table class="listing">
  <tr>
    <th>Discussion</th>
    <th>Posts</th>
    <th>Views</th>
    <th>Latest Post</th>
    <th>Last Post Seen</th>
  </tr>
  {% for disc in object_list %}
    {% ifchanged disc.forum %}
    <tr>
      <td class="title" colspan="5"><a href="{{ disc.forum.get_absolute_url }}">{{ disc.forum.name }}</a><br><span class="byline">{{ forum.blurb }}</span></td>
    </tr>
    {% endifchanged %}
    <tr class="{% cycle odd,even %}">
      <td><a href="{{ disc.get_absolute_url }}"><img src="{{ MEDIA_URL }}img/silk-icons/page_go.png"></a><a href="{{ disc.get_absolute_url }}">{{ disc.name }}</a></td>
      <td class="centered">{{ disc.post_set.count }}</td>
      <td class="centered">{{ disc.views }}</td>
      </td>
        {% method_arg disc latest_post user as post %}
        {% if post %}{% include "asforums/post_link.html" %}{% else %}
          No posts
        {% endif %}
      <td>
        {% method_arg disc last_post_seen user as post %}
        {% if post %}{% include "asforums/post_link.html" %}{% endif %}
      </td>
    </tr>
    <tr class="{% cycle odd,even %}">
      <td colspan="5"><span class="blurb">{{ disc.blurb }}</span></td>
    </tr>
  {% endfor %}
</table>
{% else %}
There are no discussions that match the criteria.
{% endif %}
</p>
{% endblock %}
