{% load auth wowzertags asforums_tags %}
{% extends "asforums/listing.html" %}
{% block hierarchy %}<a href="/">Top</a>&nbsp&raquo;&nbsp;<a href="/asforums/">Forums Index</a>&nbsp&raquo;&nbsp;<a href="{{ discussion.forum.collection.get_absolute_url }}">{{ discussion.forum.collection.name }}</a>&nbsp&raquo;&nbsp;<a href="{{ discussion.forum.get_absolute_url }}">{{ discussion.forum.name }}</a>&nbsp&raquo;&nbsp;<a href="{{ request.get_full_path }}">{{ discussion.name }}</a>{% endblock %}
{% block prelisting %}
<h1>{{ discussion.name }}</h1>
<p>
<div id="disc_header">
  <span class="byline">{{ discussion.blurb }}</span><br>
  Author: {{ discussion.author }}<br>
  Number of Posts: {{ discussion.post_set.count }}<br>
  Number of views: {{ discussion.views }}<br>
  {% if discussion.locked %}
  Discussion is locked<br />
  {% endif %}
  {% if discussion.closed %}
  Discussion is closed<br />
  {% endif %}
  {% if discussion.post_set.all %}
  Last Post: <a href="./?post={{ discussion.post_set.latest.id }}#{{ discussion.post_set.latest.id }}">{{ discussion.post_set.latest.created|timesince }}</a> ago
by <a href="{{ discussion.post_set.latest.author.get_absolute_url }}">{{ discussion.post_set.latest.author }}</a><br>
  {% endif %}
</div>
<div class="tags">

</div>
</p>
{% include "asforums/disc_toolbar_frag.html" %}
{% endblock %}
{% block listing %}
{% fancy_if or not discussion.locked "asforums.moderate_forum" discussion.forum %}
{% if object_list %}
<div class="posts">
<table class="listing">
  <tr>
    <th>Author</th>
    <th>Post</th>
  </tr>
  {% for post in object_list %}
    <tr class="{% cycle odd,even %}">
      <td><span class="author"><a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></span></td>
      <td>
        {% fancy_if or not post.deleted "asforums.moderate_forum" discussion.forum %}
        <div class="toolbar">
	  <ul>
            {% fancy_if or ( and not discussion.locked not discussion.closed "asforums.post_discussion" discussion ) "asforums.moderate_forum" discussion.forum %}            
	      <li><a href="./create_post/?in_reply_to={{ post.id }}">{% icon "comment_add" "Reply to post" %}</a></li>
            {% end_fancy_if %}
	    {% fancy_if or "asforums.moderate_forum" discussion.forum ( and not discussion.closed ( or eq post.author user eq discussion.author user ) ) %}
	      {% fancy_if or "asforums.moderate_forum" discussion.forum eq post.author user %}
	        <li><a href="{{ post.get_absolute_url }}update/">{% icon "comment_edit" "Edit Post" %}</a></li>
	      {% end_fancy_if %}
	      <li><a href="{{ post.get_absolute_url }}delete/">{% icon "comment_delete" "Delete Post" %}</a></li>
	    {% end_fancy_if %}
	    {% if_has_perm "main.add_taggeditem" %}
            <li><a href="{{ post.get_absolute_url }}tag/">{% icon "tag_blue_add" "Add Tag to Post" %}</a></li>
	    {% end_if_has_perm %}
            <li><a href="{{ post.get_absolute_url }}usertag/">{% icon "user_add" "Add Private User Tag to Post" %}</a></li>
            <li><a href="./?post={{ post.id }}">{% icon "link" "Permanent link to this post" %}</a></li>
	  </ul>
	</div>
        {% end_fancy_if %}
        <div class="byline">
	  <a name="{{ post.id }}">Post #{{ post.post_number }}</a><br>
          Posted at: {{ post.created|user_tz:user|date:"D, M j, Y H:i" }} ({{ post.created|timesince }} ago)
          {% if post.in_reply_to %}
          in reply to <a title="Go to {{ post.in_reply_to_author.username }}'s profile." href="{{ post.in_reply_to.author.get_absolute_url }}">{{ post.in_reply_to.author }}'s</a> <a href="./?post={{ post.in_reply_to.id }}#{{ post.in_reply_to.id }}">Post #{{ post.in_reply_to.post_number}}</a> (from {{ post.in_reply_to.created|timesince }} ago.) 
          {% endif %}
        </div>
        {% fancy_if or not post.deleted "asforums.moderate_forum" discussion.forum %}
        <div class="postmessage">
          {% if post.content_html %}
            {{ post.content_html }}
          {% else %}
            {{ post.content }}
          {% endif %}
        </div>
        {% end_fancy_if %}
	{% if post.edited %}
	<div class="byline">
	Post edited at {{ post.changed|date:"D, M j, Y H:i" }} ({{ post.changed|timesince }} ago)
	</div>
	{% endif %}
        {% if post.deleted %}
        <div class="alert">
          Post was deleted by <a href="{{ post.deleted_by.get_absolute_url }}">{{ post.deleted_by.username }}</a><br />
          {% if post.deletion_reason %}
          Reason: {{ post.deletion_reason }}
          {% endif %}
        </div>
        {% endif %}
	{% if post.replies_set %}
	<div class="postreplies">
	  {% for reply in post.replies_set.all %}
	    {% if not reply.deleted %}
	      <a href="{{ reply.get_absolute_url }}">{{ reply.id }}</a>
	    {% endif %}
	  {% endfor %}
	</div>
	{% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
</div>
{% else %}
There are no posts in this discussion.
{% endif %}
{% end_fancy_if %}
{% endblock %}
{% block postlisting %}
  {% include "asforums/disc_toolbar_frag.html" %}
{% endblock %}
