{% extends "asforums/listing.html" %}
{% block hierarchy %}&nbsp&raquo;&nbsp;<a href="/">Top</a>&nbsp&raquo;&nbsp;<a href="/asforums/">Forums Top</a>&nbsp&raquo;&nbsp;<a href="{{ request.get_full_path }}">Discussion List</a>{% endblock %}
{% block listing %}
<p>
{% if object_list %}
<table class="listing">
  <tr>
    <th></th>
    <th>Forum</th>
    <th>Discussion</th>
    <th>Author</th>
    <th>Posts</th>
    <th>Views</th>
    <th>Last Post</th>
  </tr>
  {% for disc in object_list %}
    <tr class="{% cycle odd,even %}">
      <td><img src="{{ MEDIA_URL }}img/silk-icons/medal_gold_3.png"></td>
      <td><a href="{{ disc.forum.get_absolute_url }}">{{ disc.forum.name }}</a></td>
      <td><a href="{{ disc.get_absolute_url }}"><img src="{{ MEDIA_URL }}img/silk-icons/page_go.png"></a><a href="{{ disc.get_absolute_url }}">{{ disc.name }}</a></td>
      <td class="centered"><a href="{{ disc.creator.get_absolute_url }}">{{ disc.creator.username }}</a></td>
      <td class="centered">{{ disc.post_set.count }}</td>
      <td class="centered">{{ disc.views }}</td>
      <td class="centered"><span class="smallerfont">{{ disc.post_set.latest.created|date:"D, M j, Y H:i" }},<br>
      {{ disc.post_set.latest.created|timesince }} ago.</span><br>
      <a href="{{ disc.get_absolute_url }}?post={{ disc.post_set.latest.id }}"><img src="{{ MEDIA_URL }}img/silk-icons/page_white_go.png"></a><a href="{{ disc.post_set.latest.creator.get_absolute_url }}">{{ disc.post_set.latest.creator }}</a></td>
    </tr>
  {% endfor %}
</table>
{% else %}
There are no discussions that match the criteria.
{% endif %}
</p>
{% endblock %}
