{% extends "asforums/base.html" %}
{% block hierarchy %}{{ block.super }}&nbsp&raquo;&nbsp;<a href="/asforums/forum_collections/">Forum Collections</a>&nbsp&raquo;&nbsp;<a href=".">Create Permissions</a>{% endblock %}
{% block content %}
<h1>Add Create Forum Collection Permission</h1>
<form method="post" action=".">
  {{ add_form.as_p }}
  <input type="submit" name="submit" value="Add create permission" />
</form>
<h1>Remove Create Forum Collection Permission</h1>
<form method="post" action=".">
  {{ rem_form.as_p }}
  <input type="submit" name="submit" value="Remove create permission" />
</form>
{% endblock %}
