{% extends "asforums/base.html" %}
{% block hierarchy %}{{ block.super }}&nbsp&raquo;&nbsp;<a href="/asforums/forum_collections/">Forum Collections</a>&nbsp&raquo;&nbsp;<a href=".">Create Forum Collection</a>{% endblock %}{% block content %}{% block content %}
<h1>Create a Forum Collection:</h1>
{% if form.has_errors %}
<h2 class="errors">Please correct the following error{{ form.error_dict|pluralize }}:</h2>
{% endif %}
<form method="post" action=".">
{{ form.as_p }}
<input type="submit" value = "Create Forum Collection" />
</form>
{% endblock %}
