{% extends "asforums/base.html" %}
{% block hierarchy %}{{ block.super }}&nbsp&raquo;&nbsp;<a href="/asforums/forum_collections/">Forum Collections</a>&nbsp&raquo;&nbsp;<a href="..">{{ forum_collection.name }}</a>&nbsp&raquo;&nbsp;<a href=".">Update</a>{% endblock %}
{% block content %}
<h1>Update {{ object.name }}</h1>
{% if form.has_errors %}
<h2 class="errors">Please correct the following error{{ form.error_dict|pluralize }}:</h2>
{% endif %}
<form method="post" action=".">
<p>
  <label for="id_name">Name:</label> {{ form.name }}
  {% if form.name.errors %}*** {{ form.name.errors|join:", " }}{% endif %}
</p>
<p>
  <label for="id_name">Blurb:</label> {{ form.blurb }}
  {% if form.blurb.errors %}*** {{ form.blurb.errors|join:", " }}{% endif %}
</p>

<input type="submit" />
</form>
{% endblock %}
