{% load wowzertags asforums_tags %}
{% extends "asforums/listing.html" %}
{% block modelcloud %}
<h3>Forum Collection Tags</h3>
{% tags_for_model asforums.ForumCollection as fc_tags %}
<p>
{% for tag in fc_tags %}
  <a href="./tag/{{ tag }}/">{{ tag }}</a>
{% endfor %}
</p>
{% endblock %}
{% block hierarchy %}{{ block.super }}&nbsp&raquo;&nbsp;<a href="/asforums/forum_collections/">Forum Collections</a>{% endblock %}
{% block listing %}
<div class="toolbar">
  <ul>
    {% if perms.asforums.add_forumcollection %}
    <li><a href="./create/">{% icon "folder_add" "Create Forum Collection" %}</a>
    {% endif %}
    {% if user.is_staff or user.is_superuser %}
    <li><a href="./perms/">{% icon "cog_edit" "Forum Collection Create Permissions" %}</a>
    {% endif %}
  </ul>
</div>

<table>
  <tr>
    <th>Forum Collection</th>
    <th>Forums</th>
    <th>Owner</th>
  </tr>
  {% for fc in object_list %}
    <tr class="{% cycle odd,even %} top">
      <td><a href="{{ fc.get_absolute_url }}">{{ fc.name }}</a></td>
      <td>{% viewable_by_user fc.forum_set "count" %}</td>
      <td>{{ fc.author }}</td>
    </tr>
    <tr class="{% cycle odd,even %} bottom">
      <td colspan="4"><span class="blurb">{{ fc.blurb }}</span></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
