{% extends "asforums/listing.html" %}
{% block hierarchy %}&nbsp&raquo;&nbsp;<a href="/">Top</a>&nbsp&raquo;&nbsp;<a href="/asforums/">Forums Top</a>&nbsp&raquo;&nbsp;<a href="{{ request.get_full_path }}">Forum List</a>{% endblock %}
{% block listing %}
<div class="forums">
{% if object_list %}
<table class="listing">
  <tr>
    <th>Forum</th>
    <th>Discussions</th>
    <th>Active Discussions</th>
    <th>Latest Post</th>
  </tr>
  {% for forum in object_list %}
    <tr class="{% cycle odd,even %}">
      <td><a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a></td>
      <td>{{ forum.discussion_set.count }}</td>
      <td>Not implemented</td>
      {% method_arg forum latest_post user as post %}
      <td>
        {% if post %}
          {% include "asforums/post_link.html" %}
        {% else %}
        No posts
        {% endif %}
      </td>
    </tr>
    <tr class="{% cycle odd,even %}">
      <td colspan="4"><span class="blurb">{{ forum.blurb }}</span></td>
    </tr>
  {% endfor %}
</table>
{% else %}
There are no forums matching this criteria.
{% endif %}
</div>
{% endblock %}
