{% load wowzertags auth asforums_tags %}
{% extends "asforums/listing.html" %}
{% block listing %}
<div class="toolbar">
  <ul>
    {% if perms.asforums.add_forumcollection %}
    <li><a href="./forum_collections/create/">{% icon "folder_add" "Create Forum Collection" %}</a>
    {% endif %}
    {% if user.is_staff or user.is_superuser %}
    <li><a href="./forum_collections/perms/">{% icon "cog_edit" "Forum Collection Create Permissions" %}</a>
    {% endif %}
  </ul>
</div>
{% if object_list %}
<table>
  <tr>
    <th></th>
    <th>Forum</th>
    <th>Number of Discussions</th>
    <th>Last Post</th>
  </tr>
  {% for forum in object_list %}
    {% ifchanged forum.collection %}
    <tr>
      <td class="title" colspan=4>
      {% fancy_if or "asforums.moderate_forumcollection" forum.collection "asforums.read_forumcollection" forum.collection %}
      <a href="{{ forum.collection.get_absolute_url }}">{{ forum.collection.name }}</a>
      {% else %}
      {{ forum.collection.name }}
      {% end_fancy_if %}
      <br>
      <span class="byline">{{ forum.collection.blurb }}</span></td>
      <td class="forumcollection" colspan 2></td>
    </tr>
    {% endifchanged %}
    <tr class="{% cycle odd,even %}">
      {% fancy_if or "asforums.moderate_forum" forum ( and "asforums.read_forumcollection" forum.collection "asforums.read_forum" forum ) %}
      <td><img src="{{ MEDIA_URL }}img/silk-icons/folder_heart.png"></td>
      <td>
        <b><a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a></b><br>
        <span class="byline">{{ forum.blurb }}</span>
      </td>
      <td>{{ forum.discussion_set.count }}</td>
      {% method_arg forum latest_post user as post %}
      <td><a href="{{ post.get_absolute_url }}">Post {{ post.post_number }}</a> by <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></td>
      {% else %}
      <td></td>
      <td>{{ forum.name }}</td>
      <td></td>
      <td></td>
      {% end_fancy_if %}
    </tr>
  {% endfor %}
</table>
{% else %}
<p>There are no visible forums</p>
{% endif %}
{% endblock %}
