{% load auth wowzertags asforums_tags %}
{% extends "asforums/listing.html" %}
{% block hierarchy %}{{ block.super }}&nbsp&raquo;&nbsp;<a href="{{ request.path }}">Post Listing</a>{% endblock %}
{% block listing %}
{% if object_list %}
<div class="posts">
<table class="listing">
  <tr>
    <th>Author</th>
    <th>Post</th>
  </tr>
  {% for post in object_list %}
    <tr class="{% cycle odd,even %}">
      <td><span class="author"><a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></span></td>
      <td>
        {% include "asforums/post_toolbar.html" %}
        <div class="byline">
          <a href="{{ post.discussion.forum.collection.get_absolute_url }}">{{ post.discussion.forum.collection.name }}</a>&nbsp&raquo;&nbsp;<a href="{{ post.discussion.forum.get_absolute_url }}">{{ post.discussion.forum.name }}</a>&nbsp&raquo;&nbsp;<a href="{{ post.discussion.get_absolute_url }}">{{ post.discussion.name }}</a>&nbsp&raquo;&nbsp;<a href="{{ post.get_discussion_url }}">Post #{{ post.post_number }}</a><br>
        </div>
        {% include "asforums/post_header.html" %}
        {% include "asforums/post_body.html" %}
        {% include "asforums/post_footer.html" %}
      </td>
    </tr>
  {% endfor %}
</table>
</div>
{% else %}
There are no visible posts.
{% endif %}
{% endblock %}
