{% extends "asforums/base.html" %}
{% block hierarchy %}{{ block.super }}&nbsp&raquo;&nbsp;<a href="/asforums/forum_collections/">Forum Collections</a>&nbsp&raquo;&nbsp;<a href="{{ object.discussion.forum.collection.get_absolute_url }}">{{ object.discussion.forum.collection.name }}</a>&nbsp&raquo;&nbsp;<a href="{{ object.discussion.forum.get_absolute_url }}">{{ object.discussion.forum.name }}</a>&nbsp&raquo;&nbsp;<a href="{{ object.discussion.get_absolute_url }}">{{ object.discussion.name }}</a>&nbsp&raquo;&nbsp;<a href="..">Post #{{ object.post_number }}</a>&nbsp&raquo;&nbsp;<a href=".">Permissions</a>{% endblock %}
{% block content %}
<h1>Permissions for {{ object.name }}</h1>
{% include "rlp_stub.html" %}
{% endblock %}
