{% load auth wowzertags tagging_tags %}
{% extends "gem/listing.html" %}
{% spaceless %}{% block hierarchy %}{{ block.super }}&nbsp&raquo;&nbsp;<a href=".">Event Listing</a>{% endblock %}{% endspaceless %}
{% block listing %}
<table>
  <tr>
    <th>When</th>
    <th>Place</th>
    <th>Realm</th>
    <th>Leader</th>
    <th>Max Size</th>
    <th>Current Size</th>
    <th>Level Range</th>
  </tr>
  {% for event in object_list %}
    <tr class="{% cycle odd,even %} top">
      <td><a href="{{ event.get_absolute_url }}">{{ event.when|tz_std_date:user }}</a></td>
      <td>{{ event.place }}</td>
      <td>{{ event.leader.realm.name }}</td>
      <td><a href="{{ leader.get_absolute_url }}">{{ event.leader.name }}</a></td>
      <td>{{ event.max_count }}</td>
      <td>{{ event.players.count }}</td>
      {% ifequal event.minlevel event.maxlevel %}
      <td>{{ event.min_level }}</td>
      {% else %}
      <td>{{ event.min_level }} - {{ event.max_level }}</td>
      {% endifequal %}
    </tr>
  {% endfor %}
</table>
{% endblock %}
