{% load items.helpers %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Auction Detail</title>
  </head>

  <body>
    <h1>Auction Detail: {{ item }} by <a href="../../../toons/detail/{{ owner.id }}/">{{ owner }}</a></h1>
    <P>
      Number of items: {{ auction.count }}<br>
      Minimum starting bid: {{ auction.min_bid|num_to_gold:"t" }}<br>
      Minimum starting bid for one: {{ auction.min_bid_for_one|num_to_gold:"t" }}<br>
      Buyout: {{ auction.buyout|num_to_gold:"t" }}<br>
      Minimum buyout for one: {{ auction.buyout_for_one|num_to_gold:"t" }}<br>
      Initially seen at: {{ auction.initial_seen }}<br>
      Last seen at: {{ auction.last_seen }}<br>
      Item on <a href="{{ item.name|name_to_thotturl }}">Thottbot</a><br>
    </P>
    <P>
      {% if bids %}
          Recorded bidding history:
          <UL>
          {% for bid in bids %}
              <LI> {{ bid }} </LI>
          {% endfor %}
          </UL>
      {% else %}
          No recorded bids.
      {% endif %}
    </P>
    {% if other_aucts %}
    <P>
      Auctions that this character has created:
    <UL>
      {% for auction in other_aucts %}
            <li><a href="../../detail/{{ auction.id }}/">Auction</a> of <a href="../../../items/detail/{{ auction.get_item.id }}/">{{ auction.get_item }}</a> by <a href="../../../toons/detail/{{ auction.get_owner.id }}/">{{ auction.get_owner }}</a>, last seen: {{ auction.last_seen }}, (<a href="../../history/{{ auction.get_item.id }}/{{ auction.get_realm.id }}/{{ auction.get_faction.id }}/">history</a>)</li>
      {% endfor %}
    </UL>
    </P>
    {% endif %}
    <P>
      List of twenty most recent <a href="../../">auctions</a>
    </P>

    <hr>
    <address><a href="mailto:scanner@apricot.com">Scanner</a></address>
<!-- Created: Wed Aug 17 13:25:32 PDT 2005 -->
<!-- hhmts start -->
Last modified: Wed Aug 24 09:45:15 PDT 2005
<!-- hhmts end -->
  </body>
</html>
