{% load wowzertags %}
{% extends "base.html" %}
{% block content %}
<p>
{% if is_paginated %}
<div class="paginator">{% paginator %}</div>
{% endif %}

{% if object_list %}
<table>
  <tr>
    <th>Size</th>
    <th>Duration</th>
    <th>Start</th>
    <th>End</th>
    <th>Submitter</th>
    <th>Details</th>
  </tr>
  {% for object in object_list %}
  <tr class="{% cycle odd,even %}">
    <td>{{ object.maximal_size }}</td>
    <td>{{ object.duration }}</td>
    <td>{{ object.start_time }}</td>
    <td>{{ object.end_time }}</td>
    <td><a href="{{ object.submitter.get_absolute_url }}">{{ object.submitter.name }}</a></td>
    <td><a href="{{ object.get_absolute_url }}">Details</a></td>
  </tr>
  {% endfor %}
  </table>
{% else %}
There are no raids.
{% endif %}
</p>
{% endblock %}
