{% extends "base" %}
{% block header %}<h1>Item {{ item.name }} detail</h1>{% endblock %}
{% block content %}
    <P>
    {% if item.player_made %}
      {{ item }} is player made.<br>
    {% endif %}
      Category: {{ item.get_category.name }}<br>
      Link on <a href="{{ item.name|name_to_thotturl }}">Thottbot</a><br>
    </P>
    {% if auction_list %}
    <P>
      {{ item.name }} has appeared recently in these auctions:
    <UL>
        {% for auction in auction_list %}
            <li><a href="{{ auction.get_absolute_url }}">Auction</a> of {{ auction.get_item }} by <a href="{{ auction.get_owner.get_absolute_url }}">{{ auction.get_owner }}</a>, last seen: {{ auction.last_seen }}, (<a href="../../../madhouse/history/{{ auction.get_item.id }}/{{ auction.get_realm.id }}/{{ auction.get_faction.id }}/">history</a>)</li>
        {% endfor %}
    </UL>
    {% endif %}
    </P>
{% endblock %}
{% block page_mod_date %}
<!-- Created: Fri Sep 30 14:33:16 PDT 2005 -->
<!-- hhmts start -->
Last modified: Mon Oct  3 16:04:05 PDT 2005
<!-- hhmts end -->
{% endblock %}
