{% load wowzertags asforums_tags auth %}
{% extends "users/base.html" %}
{% block subtitle %}{{ object.username }}{% endblock %}
{% block hierarchy %}{{ block.super }}&nbsp&raquo;&nbsp;<a href="./">{{ user.username }}</a>{% endblock %}
{% block sidebar %}
{% fancy_if or eq user.username object.username user.is_staff %}
<h1>Options</h1>
<ul>
  <li><a href="/accounts/change_pw/">Change password</a></li>
  {% if user.is_staff %}
    <li><a href="/accounts/reset_pw/">Reset password</a></li>
  {% endif %}
  <li>Associate Characters</li>
  <li>Subscribe to discussions</li>
  <li>Create group</li>
</ul>
{% end_fancy_if %}
{% endblock %}
{% block content %}
  Username: {{ object.username }}
  {% fancy_if or eq user.username object.username "auth.change_user" object user.is_staff %}
  <form method="post" action=".">
    {% if user.is_staff %}
      {{ activate_form.as_p }}
      {% if object.is_active %}
        <input type="submit" name="submit" value="Deactivate" />
      {% else %}
        <input type="submit" name="submit" value="Activate" />
      {% endif %}
    {% endif %}
    {{ email_form.as_p }}
    <input type="submit" name="submit" value="Change email address" />
    {{ profile_form.as_p }}
    <input type="submit" name="submit" value="Save profile" />
  </form>
  {% else %}
    {% if profile.homepage %}
      Homepage: <a href="profile.homepage">{{ profile.homepage }}</a><br />
    {% endif %}
    Timezone: {{ profile.timezone }}<br />
    Avatar: {{ profile.avatar }}<br>
  {% end_fancy_if %}
  <p>
    Last login: {{ object.last_login|tz_std_date_ago:user }}<br />
    Date joined: {{ object.date_joined|tz_std_date:user }}<br />
    {% if object.is_staff %}
      Staff account<br />
    {% endif %}
    {% if object.groups.all %}
      Groups {{ object.username }} is in:
      <table>
        {% for group in object.groups.all %}
           {% columnize 5 '' odd,even %}
	     <a href="../groups/{{ group.name }}/">{{ group.name }}</a>
	   {% endcolumnize %}
	{% endfor %}
      </table>
    {% endif %}
    {% if object.toon_set.all %}
      Associated characters:
      <table>
        {% for toon in object.toon_set.all %}
	  {% columnize 5 '' odd,even %}
            <a href="{{ toon.get_absolute_url }}">{{ toon }}</a>
	  {% endcolumnize %}
        {% endfor %}
      </table>
    {% endif %}
  </p>
{% endblock %}
