<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>
      {% block title %}Wowzer{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/tb-style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/tb-print.css" type="text/css" media="print" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div id="searchBar">
          <div class="head"> &nbsp;search</div>
          <div class="content"><form action="#" method="post"><input name="search_button" type="image" class="button" src="images/search.gif" /><input type="text" name="search" class="search" /></form></div></div>
        <div class="icon">
          <img src="images/hand_logo.gif" width="140" height="98"
          alt="My fantastic Webdings Logo" />
        </div>
        <div id="title">
          <h1>
          {% block title %}Wowzer{% endblock %}
          </h1>
          <h2>
          {% block subtitle %}it's easier than you think{% endblock %}
          </h2>
        </div>
        <div id="navigation">
          {% block navigation %}
          <ul>
            <li><a href="/" class="selected">Home</a></li>
            <li><a href="/toons/toon/" title="Players">Toons</a></li>
            <li><a href="/raidtracker/raid/" title="Raids">Raids</a></li>
          </ul>
          {% endblock %}
        </div>
