<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>
      {% block pagetitle %}Wowzer{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/tb-style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/tb-print.css" type="text/css" media="print" />
  </head>
  <body>
    <div class="wrapper">
      {% block pagebody %}
      <div class="container">
        {% block allbutfooter %}
        <div id="searchBar">
          {% block searchbar %}
          <div class="head"> &nbsp;search</div>
          <div class="content"><form action="#" method="post"><input name="search_button" type="image" class="button" src="{{ MEDIA_URL }}img/tb/search.gif" /><input type="text" name="search" class="search" /></form></div>{% endblock %}</div>
        <div class="icon">
          <!-- <img src="{{ MEDIA_URL }}img/tb/hand_logo.gif" width="140" height="98" alt="My fantastic Webdings Logo" /> -->
        </div>
        <div id="title">
          <h1>
          {% block title %}Wowzer{% endblock %}
          </h1>
          <h2>
          {% block subtitle %}it's easier than you think{% endblock %}
          </h2>
        </div>
        <div id="navigation">
          {% block navigation %}
          <ul> 
            <li><a href="/" class="selected">Top</a></li>
            {% if user.is_authenticated %}
            <li><a href="{{ user.get_absolute_url }}">Home</a></li>
            {% endif %}
            <li><a href="/toons/" title="Toons">Toons</a></li>


            <li><a href="/asforums/" title="Items">Forums</a></li>
            <li><a href="/items/" title="Items">Items</a></li>
            <li><a href="/madhouse/" title="Madhouse">Madhouse</a></li>
            <li><a href="/raidtracker/raid/" title="Raids">Raids</a></li>
          </ul>
          {% endblock %}
        </div>
        <br class="clear" />
        <div id="body">
          {% block contentbody %}
          <div class="sidebar">
            {% block rightsidebar %}
            <h3>Categories</h3>
              <div class="content">
                <ul class="links">
                  {% block sidebarlinks %}
                  {% endblock %}
                </ul>
              </div>
              <br />
              <br class="clear" />
            {% endblock %}
          </div>
          <div class="content">
            {% block content %}
            {% endblock %}
          </div>
          <br class="clear" />
          {% endblock %}
        </div>
        <br class="clear" />
        {% endblock %}
      </div>
      <div id="footer">
        {% block footer %}
        <div id="footHead">
          <div class="container">
            {% block footerheader %}
            <div class="head"> 
              Recent Posts
            </div>
            <div class="head">
              Awesome Links
            </div>
            <div class="head">
              Image Showcase
            </div>
            {% endblock %}
          </div>
          <div class="clear"></div>
        </div>
        <div id="footBody">
          <div class="container">
            {% block footerbody %}
            <div class="content">
              <ul>
                <li>hi</li>
              </ul>
            </div>
            <div class="content">
              <ul>
                <li>two</li>
              </ul>
            </div>
            <div class="content showcase">
              <img src="{{ MEDIA_URL }}img/tb/thumbs/1.jpg" width="65" height="65" alt="1" />
              <img src="{{ MEDIA_URL }}img/tb/thumbs/1.jpg" width="65" height="65" alt="1" />
              <img src="{{ MEDIA_URL }}img/tb/thumbs/1.jpg" width="65" height="65" alt="1" />
            </div>
            {% endblock %}
          </div>
          <div class="clear"></div>
          <div id="copyright">
            <div class="container">
              Page layout: &copy; Copyright 2006 <a href="http://aaron.ganschow.us/">Aaron Ganschow</a><br>
              World of Warcraft&trade; and Blizzard Entertainment&reg; are 
        all trademarks or registered trademarks of Blizzard
        Entertainment in the United States and/or other
        countries. These terms and all related materials, logos, and
        images are copyright &copy; Blizzard Entertainment. This site
        is in no way associated with or endorsed by Blizzard
        Entertainment&reg;.
            </div>
          </div>
        </div>
        {% endblock %}
      </div>
      {% endblock %}
    </div>
	<img src="{{ MEDIA_URL }}img/tb/tab_over.gif" style="display: none; visibility:hidden; width:0; height:0; position:absolute; top: -100px; left: -200px;" alt="I am soooo fake pre-loading this image so the navigation doesn't skip while loading the over state.  I know I could use the sliding doors technique to avoid this fate, but I am too lazy." />
  </body>
</html>
