{% load wowzertags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>
      {% block pagetitle %}Wowzer{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/plain-style.css" type="text/css" media="screen" />
  </head>
  <body>
  <div id="container">
    <div id="top">
      <div class="toolbar">
        <ul>
	<li>{% icon "magnifier" "Search" %}</li>
          {% if user.is_authenticated %}
            <li>Hello <a title="Home" href="{{ user.get_absolute_url }}">{{ user.username }}!&nbsp;{% icon "house_go" "Home" %}</a></li>
	    <li><a href="/accounts/logout/">{% icon "door_out" "Logout" %}</a></li>
	  {% else %}
	    <li><a href="/accounts/login/">Login {% icon "door_in" "Login" %}</a></li>
	  {% endif %}
	  
        </ul>
      </div>
      <div id="title">
        <span class="title"><h1>{% block title %}{% endblock %}</h1></span><br>
	<span class="byline">{% block subtitle %}{% endblock %}</span>
      </div>
      <div id="navlist">
        <ul> 
          <li><a href="/" class="selected">Top</a></li>
          {% if user.is_authenticated %}
          <li><a href="{{ user.get_absolute_url }}">Home</a></li>
	  {% if user.is_staff or user.is_superuser %}
          <li><a href="/admin/" title="Admin">Admin</a></li>
	  {% endif %}
          {% endif %}
          <li><a href="/asforums/" title="Items">Forums</a></li>
          <li><a href="/raidtracker/raid/" title="Raids">Raids</a></li>
          <li><a href="/toons/" title="Toons">Toons</a></li>
          <li><a href="/items/" title="Items">Items</a></li>
	  {% comment %}
            <li><a href="/madhouse/" title="Madhouse">Madhouse</a></li>
	  {% endcomment %}
        </ul>
      </div>
    </div>
    <div id="body">
      <div id="leftcol">
        {% block leftcontent %}
        <h3>Categories</h3>
	<ul>
	  <li>Hot</li>
	  <li>Warm</li>
	  <li>Cold</li>
	</ul>
	{% endblock %}
      </div>
      <div id="rightcol">
        {% block rightcontent %}
	<h3>Right column</h3>
	<p>for those of us with extra stuff to add to the confusion it will go over hree.</p>
	{% endblock %}
      </div>
      <div id="content">
        <div id="hierarchy">{% block hierarchy %}&raquo;&nbsp;one&nbsp;&raquo;&nbsp;two&nbsp;&raquo;&nbsp;three&nbsp;&raquo;&nbsp;four{% endblock %}</div>
        <div id="breadcrumbs">&raquo;&nbsp;bone&nbsp;&raquo;&nbsp;btwo&nbsp;&raquo;&nbsp;bthree&nbsp;&raquo;&nbsp;bfour</div>
        {% if messages %}
        <div id="messages">
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div id="footer">
    <p>
      <span class="smallerfont">Page layout &copy; Copyright 2007 Eric 'Scanner' Luce.<br>
      Icons FamFamFam <a href="http://www.famfamfam.com/lab/icons/silk/">Silk</a></span><br>
      <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site." /></a><br>
      <p>
    </div>
  </div>
  </body>
</html>
