{% extends "base" %}
{% block header %}<h1>Auction Detail: {{ item }} by <a href="{{ owner.get_absolute_url }}">{{ owner }}</a></h1>{% endblock %}
{% block content %}
    
    <P>
      Number of items: {{ auction.count }}<br>
      Minimum starting bid: {{ auction.min_bid|num_to_gold:"t" }}<br>
      Minimum starting bid for one: {{ auction.min_bid_for_one|num_to_gold:"t" }}<br>
      Buyout: {{ auction.buyout|num_to_gold:"t" }}<br>
      Minimum buyout for one: {{ auction.buyout_for_one|num_to_gold:"t" }}<br>
      Initially seen at: {{ auction.initial_seen }}<br>
      Last seen at: {{ auction.last_seen }}<br>
      Item on <a href="{{ item.name|name_to_thotturl }}">Thottbot</a><br>
    </P>
    <P>
      {% if bids %}
          Recorded bidding history:
          <UL>
          {% for bid in bids %}
              <LI> {{ bid }} </LI>
          {% endfor %}
          </UL>
      {% else %}
          No recorded bids.
      {% endif %}
    </P>
    {% if other_aucts %}
    <P>
      Auctions that this character has created:
    <UL>
      {% for auction in other_aucts %}
            <li><a href="{{ auction.get_absolute_url }}">Auction</a> of <a href="{{ auction.get_item.get_absolute_url }}">{{ auction.get_item }}</a> by <a href="{{ auction.get_owner.get_absolute_url }}">{{ auction.get_owner }}</a>, last seen: {{ auction.last_seen }}, (<a href="/madhouse/history/{{ auction.get_item.id }}/{{ auction.get_realm.id }}/{{ auction.get_faction.id }}/">history</a>)</li>
      {% endfor %}
    </UL>
    </P>
    {% endif %}
    <P>
      List of twenty most recent <a href="/madhouse/">auctions</a>
    </P>
{% endblock %}
{% block page_mod_date %}
<!-- Created: Fri Sep 30 14:33:16 PDT 2005 -->
<!-- hhmts start -->
Last modified: Mon Oct  3 16:07:19 PDT 2005
<!-- hhmts end -->
{% endblock %}
