{% extends "base" %}
{% block header %}<h1>Madhouse Index of Auctions</h1>{% endblock %}
{% block content %}
<P>
List of {{ limit }} auctions:
    {% if auction_list %}
        <ul>
        {% for auction in auction_list %}
            <Li><a href="{{ auction.get_absolute_url }}">Auction</a> of <a href="{{ auction.get_item.get_absolute_url }}">{{ auction.get_item }}</a> by <a href="{{ auction.get_owner.get_absolute_url }}">{{ auction.get_owner }}</a>, last seen: {{ auction.last_seen }}, (<a href="history/{{ auction.get_item.id }}/{{ auction.get_realm.id }}/{{ auction.get_faction.id }}/">history</a>) (<a href="{{ auction.get_item.name|name_to_thotturl }}">Thottbot</a>)</li>
        {% endfor %}
        </ul>
    {% else %}
        No auctions are available.
    {% endif %}
</p>
{% endblock %}
{% block page_mod_date %}
<!-- Created: Fri Sep 30 14:33:16 PDT 2005 -->
<!-- hhmts start -->
Last modified: Mon Oct  3 16:05:24 PDT 2005
<!-- hhmts end -->
{% endblock %}
